[{:db/id #db/id[:db.part/user]
  :pot/created #inst "2015-09-11T19:44:06.059-00:00"
  :pot/text "Don't Judge Morty"
  :pot/author "Rick"}
 {:db/id #db/id[:db.part/user]
  :pot/created #inst "2015-09-11T19:44:47.307-00:00"
  :pot/text "Ow man!"
  :pot/author "Morty"}]