[
 ;; Potoos

 {:db/id #db/id[:db.part/db]
  :db/ident :potoo/created
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A potoo's creation timestamp"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :potoo/text
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A potoo's text"
  :db.install/_attribute :db.part/db}

 ;; Users

 {:db/id #db/id[:db.part/db]
  :db/ident :user/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's password"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/potoos
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "All potoos for a user"
  :db.install/_attribute :db.part/db}

 ]